.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    width: 100vw; /* Make the parent 100% of the viewport width */
    height: 100vh; /* Make the parent 100% of the viewport height */
    overflow: hidden;
}

.parent > div {
    
    padding: 20px;
    width: 100%; /* Make the child elements 100% width of their parent */
    overflow: hidden; /* Add scrollbars if content overflows */
}